
@{
    ViewBag.Title = "People";
}

<h2>@ViewBag.Title</h2>

<input type="button" name="refrescar" value="refrescar" onclick="Get()" />

<div id="divLista" class="container">

</div>

<script>
    urlGet = "@Url.Content("~/People/List")";
    Get();
    function Get() {
        fetch(urlGet)
            .then(function (response) {
                return response.text();
            })
            .then((data) => {
                document.getElementById("divLista").innerHTML = data;
            })
    }
    
</script>

