
@{
    ViewBag.Title = "People";
}

<h2>@ViewBag.Title</h2>
<input type="button" value="Nuevo" onclick="document.location.href='@Url.Content("~/People/New")'"/>
<input type="button" value="Refrescar" onclick="Get()" />

<div id="divLista" class="container">

</div>

<script>
    urlGet = "@Url.Content("~/People/List")";
    Get();
    function Get() {
        fetch(urlGet)
            .then(function (response) {
                return response.text();
            })
            .then((data) => {
                document.getElementById("divLista").innerHTML = data;
            })
    }

    // Eliminar
    function jsDelete(Id) {
        alert(Id)
    }

</script>

