@using CrudMVCRazorFetch.Models.ViewModel
@model List<ListPeopleViewModel>
@{
    Layout = null;
}

@foreach (var oPeople in Model)
{
    <div>
        Nombre: @oPeople.Name<br />
        Edat: @oPeople.Age<br />
    </div>
}
